<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h4>Privacy and Security Information</h4>
      <p>
        A <a href="http://en.wikipedia.org/wiki/HTTP_cookie#Session_cookie" title="Wikipedia description" target="blank">Session cookie</a>
        (a cookie in this case is a small text file which is placed on your computer by the browser) is required by this application.<br />
        Our session cookie will not hold personally identifiable information, only a session identifier to enable the web application to
        enforce security constraints - without which the web site will not work.
      </p>
      <p>
        Information Commissioner's Office : <a href="http://ico.org.uk/for_organisations/privacy_and_electronic_communications/the_guide/cookies"
                                               title="The reason this page exists">Cookies Regulations and the New EU Cookie Law</a>.
      </p>
      <h5>Important - Security</h5>
      <p>
        Unfortunately, as with every publicly accessible website, this application and its content and communication are at risk of attack.
        Whilst we have taken care to mitigate against potential attack(s) we <b>strongly</b> recommended that users, both current and
        potential, avoid entering information which may be used to identify either themselves or their products.
      </p>
      <p style="margin-left: 40px;">
        <button type="button"
                onclick="history.go(-1)">Back </button>
      </p>
    </div>
  </div>
</div>
