[submodule "client-direct"]
	path = client-direct
	url = https://github.com/CardiacModelling/ap-nimbus-client.git
	branch = master
[submodule "appredict-docker"]
	path = appredict-docker
	url = https://github.com/CardiacModelling/appredict-docker
	branch = master
[submodule "app-manager"]
	path = app-manager
	url = https://github.com/CardiacModelling/ap-nimbus-app-manager
	branch = master
