[submodule "client-direct"]
	path = client-direct
	url = https://github.com/CardiacModelling/ap-nimbus-client.git
[submodule "ap-nimbus-azure-durable-functions"]
	path = ap-nimbus-azure-durable-functions
	url = https://github.com/CardiacModelling/ap-nimbus-azure-durable-functions
[submodule "ap-nimbus-datastore"]
	path = ap-nimbus-datastore
	url = https://github.com/CardiacModelling/ap-nimbus-datastore
[submodule "ap-nimbus-deploy"]
	path = ap-nimbus-deploy
	url = https://github.com/CardiacModelling/ap-nimbus-deploy
