[submodule "client-direct"]
	path = client-direct
	url = https://github.com/CardiacModelling/ap-nimbus-client.git
[submodule "ap-nimbus-azure-durable-functions"]
	path = ap-nimbus-azure-durable-functions
	url = https://github.com/CardiacModelling/ap-nimbus-azure-durable-functions
