<form [formGroup]="inputForm" 
      class="form-horizontal"
      (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="row">
      <div class="col-sm-8 input-division rounded-5">Cell Model ( Please contact us via the <a (click)=goToContactPage() title="Go To Contact">Contact</a> page if you would like a different model )</div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-1">Model</div>
      <div class="col-sm-2">
        <mat-form-field>
          <mat-select class="form-control"
                      formControlName="fcModelId"
                      (selectionChange)="updateDescription($event)">
            <mat-option *ngFor="let configModel of configModels"
                        [value]="configModel.id">
              {{configModel.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('fcModelId', 'required')">Please select a CellML model !</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3">{{modelDescription}}</div>
      <div class="col-sm-2"><!-- View all Model Details --></div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-1">Pacing Frequencies</div>
      <div class="col-sm-11">
      
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-9">
        <button [disabled]='inputForm.invalid' class="btn btn-success"
                                               type="submit">Run Simulation</button>
      </div>
    </div>
  </div>
</form>