<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <img alt="" src="assets/img/nottingham.png" style="height: 80px;" />
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-3">
      <a (click)=viewSimulationsPage() title="Go To Home">Home</a>
      &nbsp;&nbsp;
      <a (click)=viewAboutPage() title="Go To About">About</a>
      |
      <a (click)=viewContactPage() title="Go To Contact">Contact</a>
      |
      <a (click)=viewPrivacyPage() title="Go To Privacy">Privacy</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
