<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <p>
        This web portal provides a user-interface, results database and results presentation for
        the Oxford 'Action Potential Prediction' (<a href="https://chaste.cs.ox.ac.uk/trac/wiki/ApPredict" target="blank">ApPredict</a>)
        open source cardiac electrophysiology simulator, for changes to the action potential under drug block of multiple ion channels.
        <br />
        It allows you to enter information on multiple cardiac ion channel block by a compound, and to predict the effect on whole
        cardiac myocyte electrophysiology, across a range of concentrations, as shown below:
      </p>
      <p>
        <img style="border:2px solid #000000; padding:10px;" 
             alt="Flowchart of information from ion channel screening informing action potential models."
             src="assets/img/sim_flowchart_web.png" />
      </p>
      <p>
        A full guide to this web portal has been uploaded to Figshare :
        <a href="http://dx.doi.org/10.6084/m9.figshare.1039436"
           title="A guide to the Action Potential Prediction &#39;AP-Portal&#39; web portal"
           target="blank">A guide to the Action Potential Prediction &#39;AP-Portal&#39; web portal</a> (pdf).
        <br />
        Journal of Pharmacological and Toxicological Methods article :
        <a href="http://dx.doi.org/10.1016/j.vascn.2015.05.002"
           title="A web portal for in-silico action potential predictions"
           target="blank">A web portal for in-silico action potential predictions</a>.
        <br />
        The portal software is also open source and can be found on :
        <a href="https://bitbucket.org/gef_work/ap_predict_online" target="blank">Bitbucket</a>.
      </p>
      <p>
        Development of this web portal was funded under a Mathematics in Toxicology Strategic Award (NC/K001337/1) to Dr Gary Mirams, by the EPSRC and NC3Rs:
      </p>
      <a href="http://www.epsrc.ac.uk/"
         title="Engineering and Physical Sciences Research Council"
         target="blank"><img style="padding:10px;" 
                             alt="Engineering and Physical Sciences Research Council logo"
                             src="assets/img/epsrc_logo.png" /></a>
      <a href="http://www.nc3rs.org.uk/"
         title="National Centre for the Replacement, Refinement &amp; Reduction of Animals in Research"
         target="blank"><img style="padding:10px;" 
                             alt="National Centre for the Replacement, Refinement &amp; Reduction of Animals in Research logo"
                             src="assets/img/nc3rs_logo.gif" /></a>
      <p style="margin-left: 40px;">
        <button type="button"
                onclick="history.go(-1)"> Back </button>
      </p>
    </div>
  </div>
</div>
