<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h5>Please contact us via the following :</h5>
      <div style="margin-left: 20px; margin-bottom: 20px;">
        Email (for scientific queries) <a href="mailto:gary.mirams@cs.ox.ac.uk">Gary Mirams</a><br />
        Email (for website queries) <a href="mailto:geoff.williams@cs.ox.ac.uk">Geoff Williams</a>
      </div>
      <p style="margin-left: 40px;">
        <button type="button"
                onclick="history.go(-1)"> Back </button>
      </p>
    </div>
  </div>
</div>
