<form [formGroup]="inputForm" 
      class="form-horizontal"
      (ngSubmit)="onSubmit()">
  <div class="form-group">
    <table>
      <tr>
        <td class="input-division rounded-5"
            colspan="12">
          Cell Model ( Please contact us via the <a (click)=goToContactPage() title="Go To Contact">Contact</a> page if you would like a different model )
        </td>
      </tr>
      <tr>
        <td>Model</td>
        <td>
          <mat-form-field>
            <mat-select class="form-control"
                        formControlName="fcModelId"
                        (selectionChange)="updateDescription($event)">
              <mat-option *ngFor="let configModel of configModels"
                          [value]="configModel.id">
                {{configModel.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('fcModelId', 'required')">Please select a CellML model !</mat-error>
          </mat-form-field>
        </td>
        <td>&nbsp;</td>
        <td colspan="9">{{modelDescription}}</td>
      </tr>
      <tr>
        <td class="input-division rounded-5"
            colspan="12">
          Pacing Details
        </td>
      </tr>
      <tr>
        <td>Pacing Frequency</td>
        <td>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="fcPacingFrequency"
                            type="number">
            <mat-error *ngIf="hasError('fcPacingFrequency', 'required')">A numeric value is required !</mat-error>
            <mat-error *ngIf="hasError('fcPacingFrequency', 'max')">The maximum value is 5 !</mat-error>
            <mat-error *ngIf="hasError('fcPacingFrequency', 'min')">The minimum value is 0.05 !</mat-error>
          </mat-form-field>
        </td>
        <td> (Hz) <img class="info"
                       src="assets/img/info.png"
                       tooltip="Minimum value: 0.05; Maximum value: 5"
                       data-placement="right" />
        </td>
        <td>Frequency of pacing</td>
        <td colspan="8">&nbsp;</td>
      </tr>
      <tr>
        <td>Maximum Pacing Time</td>
        <td>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="fcPacingMaxTime"
                            type="number" />
            <mat-error *ngIf="hasError('fcPacingMaxTime', 'required')">A numeric value is required !</mat-error>
            <mat-error *ngIf="hasError('fcPacingMaxTime', 'max')">The maximum value is 120 !</mat-error>
            <mat-error *ngIf="hasError('fcPacingMaxTime', 'validatorGTThan')">The minimum value is > 0 !</mat-error>
          </mat-form-field>
        </td>
        <td> (mins) <img class="info"
                         src="assets/img/info.png"
                         tooltip="Minimum value: > 0; Maximum value: 120"
                         data-placement="right" />
        </td>
        <td>Maximum pacing time</td>
        <td colspan="8">&nbsp;</td>
      </tr>
      <tr>
        <td class="input-division rounded-5"
            colspan="12">
          Ion Channel Current Inhibitory Concentrations
        </td>
      </tr>
      <tr>
        <td colspan="12">
          Note 1 : No value for Inhibitory Concentration implies "no effect"<br />
          Note 2 : Unless otherwise assigned, Hill Coefficients default to 1, and Saturation Levels default to 0.
        </td>
      </tr>
      <tr class="table-headers">
        <td>Ion current</td>
        <td>(p)IC50</td>
        <td>&nbsp;</td>
        <td>
          <button (click)="toggleShowMore()"
                  class="btn btn-success"
                  type="button"
                  title="{{showMoreTitle}}">{{showMoreTitle}}</button>
        </td>
        <td *ngIf="showMoreOptions">Channel protein</td>
        <td *ngIf="showMoreOptions">Gene</td>
        <td *ngIf="showMoreOptions" colspan="6">Description</td>
        <td *ngIf="!showMoreOptions">Hill Coefficient</td>
        <td *ngIf="!showMoreOptions">
          Saturation Level (%)
          <img src="assets/img/info.png"
               class="info"
               data-placement="right"
               tooltip="The level of peak current relative to control at a very large compound concentration.
                        For an inhibitor this is in the range 0% (default) to <100% (compound has no effect).
                        For an activator Minimum > 100% (no effect) to Maximum 500% (as a guideline)." />
        </td>
        <td *ngIf="!showMoreOptions" colspan="6">
          Spread of Uncertainty - 
          <img src="assets/img/info.png"
               class="info"
               data-placement="right"
               tooltip="Guiding values for the ion currents are derived from QPatch assays.
                        Once spreads are enabled, click over each guiding value to use it.
                        Input value range: 0 < spread <= 2." />
          &nbsp;
          <a href="https://doi.org/10.1016/j.vascn.2013.04.007"
             target="blank"
             title="Journal of Pharmacological and Toxicological Methods - 
                                Variability in high-throughput ion-channel screening data and consequences for cardiac safety assessment">Paper</a>
        </td>
      </tr>
      <tr>
        <td>IKr</td>
        <td>
          <mat-form-field>
            <input matInput formControlName="fcIKrPIC50"
                            type="text" />
            <mat-error *ngIf="hasError('fcIKrPIC50', 'validatorOptionalNumber')">Numeric value (or empty field)!</mat-error>
          </mat-form-field>
        </td>
        <td>-log(M)</td>
        <td>&nbsp;</td>
        <td *ngIf="showMoreOptions">K<sub>v</sub>11.1</td>
        <td *ngIf="showMoreOptions"><i>hERG</i> or <i>KCNH2</i></td>
        <td *ngIf="showMoreOptions" colspan="6">Rapid delayed rectifier potassium current</td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcIKrHill"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcIKrSaturation"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions" rowspan="7">
          Tick box<br />
          to enable<br />
          spreads<br />
          <mat-checkbox formControlName="fcSpreadsEnabled"></mat-checkbox>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcIKrPIC50Spread"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions" colspan="5">(0.18)</td>
      </tr>
      <tr>
        <td>INa</td>
        <td>
          <mat-form-field>
            <input matInput formControlName="fcINaPIC50"
                            type="text" />
            <mat-error *ngIf="hasError('fcINaPIC50', 'validatorOptionalNumber')">Numeric value (or empty field)!</mat-error>
          </mat-form-field>
        </td>
        <td>-log(M)</td>
        <td>&nbsp;</td>
        <td *ngIf="showMoreOptions">Na<sub>v</sub>1.5</td>
        <td *ngIf="showMoreOptions"><i>SCN5A</i></td>
        <td *ngIf="showMoreOptions" colspan="6">Fast sodium current</td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcINaHill"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcINaSaturation"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcINaPIC50Spread"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions" colspan="5">(0.2)</td>
      </tr>
      <tr>
        <td>ICaL</td>
        <td>
          <mat-form-field>
            <input matInput formControlName="fcICaLPIC50"
                            type="text" />
            <mat-error *ngIf="hasError('fcICaLPIC50', 'validatorOptionalNumber')">Numeric value (or empty field)!</mat-error>
          </mat-form-field>
        </td>
        <td>-log(M)</td>
        <td>&nbsp;</td>
        <td *ngIf="showMoreOptions">Ca<sub>v</sub>1.2</td>
        <td *ngIf="showMoreOptions"><i>CACNA1C</i></td>
        <td *ngIf="showMoreOptions" colspan="6">Long-lasting (L-type) calcium current</td>
        <td *ngIf="!showMoreOptions">
         <mat-form-field>
            <input matInput formControlName="fcICaLHill"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcICaLSaturation"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcICaLPIC50Spread"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions" colspan="5">(0.15)</td>
      </tr>
      <tr>
        <td>IKs</td>
        <td>
        <mat-form-field>
          <input matInput formControlName="fcIKsPIC50"
                          type="text" />
          <mat-error *ngIf="hasError('fcIKsPIC50', 'validatorOptionalNumber')">Numeric value (or empty field)!</mat-error>
        </mat-form-field>
        </td>
        <td>-log(M)</td>
        <td>&nbsp;</td>
        <td *ngIf="showMoreOptions">K<sub>v</sub>7.1</td>
        <td *ngIf="showMoreOptions"><i>KCNQ1</i>/<i>minK</i></td>
        <td *ngIf="showMoreOptions" colspan="6">Slow delayed rectifier potassium current</td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcIKsHill"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcIKsSaturation"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcIKsPIC50Spread"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions" colspan="5">(0.17)</td>
      </tr>
      <tr>
        <td>IK1</td>
        <td>
          <mat-form-field>
            <input matInput formControlName="fcIK1PIC50"
                            type="text" />
            <mat-error *ngIf="hasError('fcIK1PIC50', 'validatorOptionalNumber')">Numeric value (or empty field)!</mat-error>
          </mat-form-field>
        </td>
        <td>-log(M)</td>
        <td>&nbsp;</td>
        <td *ngIf="showMoreOptions">K<sub>ir</sub>2.1</td>
        <td *ngIf="showMoreOptions"><i>KCNJ2</i></td>
        <td *ngIf="showMoreOptions" colspan="6">Inward rectifier potassium current</td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcIK1Hill"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcIK1Saturation"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcIK1PIC50Spread"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions" colspan="5">(0.18)</td>
      </tr>
      <tr>
        <td>Ito</td>
        <td>
          <mat-form-field>
             <input matInput formControlName="fcItoPIC50"
                            type="text" />
            <mat-error *ngIf="hasError('fcItoPIC50', 'validatorOptionalNumber')">Numeric value (or empty field)!</mat-error>
          </mat-form-field>
        </td>
        <td>-log(M)</td>
        <td>&nbsp;</td>
        <td *ngIf="showMoreOptions">K<sub>v</sub>4.3</td>
        <td *ngIf="showMoreOptions"><i>KCND3</i></td>
        <td *ngIf="showMoreOptions" colspan="6">(Fast) transient outward potassium current</td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcItoHill"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcItoSaturation"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcItoPIC50Spread"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions" colspan="5">(0.15)</td>
      </tr>
      <tr>
        <td>INaL</td>
        <td>
          <mat-form-field>
            <input matInput formControlName="fcINaLPIC50"
                            type="text" />
            <mat-error *ngIf="hasError('fcINaLPIC50', 'validatorOptionalNumber')">Numeric value (or empty field)!</mat-error>
          </mat-form-field>
        </td>
        <td>-log(M)</td>
        <td>&nbsp;</td>
        <td *ngIf="showMoreOptions">Na<sub>v</sub>1.5</td>
        <td *ngIf="showMoreOptions"><i>SCN5A</i></td>
        <td *ngIf="showMoreOptions" colspan="6">Late/Persistent sodium current</td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcINaLHill"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcINaLSaturation"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions">
          <mat-form-field>
            <input matInput formControlName="fcINaLPIC50Spread"
                            type="text" />
          </mat-form-field>
        </td>
        <td *ngIf="!showMoreOptions" colspan="5">(0.2)</td>
      </tr>
      <tr>
        <td class="input-division rounded-5"
            colspan="12">Compound Concentration Range</td>
      </tr>
      <tr>
        <td>Min.</td>
        <td>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="fcPlasmaMinimum"
                            type="number" />
            <mat-error *ngIf="hasError('fcPlasmaMinimum', 'required')">A numeric value is required !</mat-error>
            <mat-error *ngIf="hasError('fcPlasmaMinimum', 'min')">The mimimum value is 0 !</mat-error>
          </mat-form-field>
        </td>
        <td>
           (µM) <img class="info"
                     src="assets/img/info.png"
                     tooltip="Minimum value: 0"
                     data-placement="right" />
        </td>
        <td colspan="9">Minimum compound concentration</td>
      </tr>
      <tr>
        <td>Max.</td>
        <td>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="fcPlasmaMaximum"
                            type="number" />
            <mat-error *ngIf="hasError('fcPlasmaMaximum', 'required')">A numeric value is required !</mat-error>
            <mat-error *ngIf="hasError('fcPlasmaMaximum', 'validatorGTThan')">The mimimum value is > 0 !</mat-error>
          </mat-form-field>
        </td>
        <td>
          (µM) <img class="info"
                    src="assets/img/info.png"
                    tooltip="Minimum value: > 0"
                    data-placement="right" />
        </td>
        <td colspan="9">Maximum compound concentration</td>
      </tr>
      <tr>
        <td>Intermediate point count</td>
        <td>
          <mat-form-field>
            <mat-select class="form-control"
                        formControlName="fcPlasmaIntermediatePointCount">
              <mat-option *ngFor="let plasmaIntermediatePointCount of configPlasmaIntermediatePointCounts"
                          [value]="plasmaIntermediatePointCount.id">
                {{plasmaIntermediatePointCount.id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>&nbsp;</td>
        <td colspan="9">Count of plasma concentrations between the minimum and maximum</td>
      </tr>
      <tr>
        <td>Intermediate point log scale</td>
        <td>
          <mat-checkbox formControlName="fcPlasmaIntermediatePointLogScale"></mat-checkbox>
        </td>
        <td>&nbsp;</td>
        <td colspan="9">Whether intermediate points should be using a log scale</td>
      </tr>
      <tr>
        <td class="input-division rounded-5"
            colspan="12">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="11">
          <button [disabled]='inputForm.invalid' class="btn btn-success"
                                                 type="submit">Run Simulation</button>
        </td>
      </tr>
    </table>
  </div>
</form>
