<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7.min.css}"></link>
  </head>
  <body>
    <div class="container">
      <h1>Error!</h1>
      <div class="alert alert-danger" role="alert">
        <b>
          [<span th:text="${status}">status</span>]
          <span th:text="${error}">error</span>
        </b>
        <p th:text="${message}">message</p>
      </div>
    </div>
  </body>
</html>