<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <title>Java client</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-3.3.7.min.css}"></link>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
  </head>
  <body>
    <div class="container">
      <h1>Java client</h1>
      <label for="durable-funtion-url">Durable Function URL :</label>
      <input id="durable-function-url"
             size="50"
             type="text"></input>
      <select id="durable-function-count">
        <option selected="selected"
                value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <button id="submit-url"
              type="submit">Submit</button>
    </div>
    <div class="container">
      <p>
        Response is ...
        <img id="spinner"
             th:src="@{/img/spinner.gif}"></img>
      </p>
      <code id="output"></code>
    </div>
  </body>
</html>