<label class="btn btn-bwm">
  <span>Select input data file : </span>
  <input #jsonInput
         type="file"
         accept="application/json"
         (change)="processJSON(jsonInput)">
</label>

<div *ngIf="selectedFile">
  <div *ngIf="selectedFile.status === 'ok'">
    <app-simulation-settings [processedInputData]="processedInputData"></app-simulation-settings>
  </div>
  <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> File parsing failed! Expecting JSON format, e.g. <code>{{'{'}} "data" : {{'{'}} "assay" ...</code></div>
</div>

<div *ngIf="showResults">
  <app-results [simulationsOutput]="simulationsOutput"></app-results>
</div>